global-exclude *.pyc *.pyo
include LICENSE
include README.md
include requirements.txt
include test-requirements.txt
recursive-include conf config.py
recursive-include docs *.txt *.rst *.md
recursive-include freshmaker *
recursive-include fedmsg.d *
recursive-include tests *
recursive-include contrib *
