alembic<1.7
fedmsg
moksha.hub
psutil
httplib2
kobo
mock
munch
pyOpenSSL
python-fedora
sqlalchemy
Flask>=1.0.3
Flask-Migrate
Flask-SQLAlchemy
Flask-Login
requests
requests-kerberos
odcs[client]
dogpile.cache
pyldap
koji
tabulate
prometheus_client
defusedxml
rpm-py-installer
semver
pygobject
